@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

body {
  background-color: #fff;
}

.row,
.container-fluid {
  --bs-gutter-x: 0;
}

.back-to-website {
  position: absolute;
  top: 30px;
  left: 20px;
}

.back-to-website a {
  border: 2px solid #ea3057;
  border-radius: 10px;
  padding: 0.5rem;
  text-decoration: none;
  color: #ea3057;
}

.back-to-website a i {
  padding-right: 0.15rem;
}

.back-to-website a:hover {
  color: #4eb1cb;
  border: 2px solid #4eb1cb;
}

.header-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #ea3057;
}

.header-content h3 {
  padding-bottom: 0.5rem;
}

.information-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

.information-content .info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  max-width: 30%;
  border-right: 2px solid #ea3057;
}

.information-content .info-box:last-of-type {
  border-right: none;
}

.information-content h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ea3057;
  text-align: center;
  margin: 0 2rem;
  font-size: 1.1rem;
}

.information-content h6 i {
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  color: #ea3057;
}
