@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row,
.container-fluid {
  --bs-gutter-x: 0;
}

div.col-12 {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #191919;
  z-index: 3;
  -webkit-box-shadow: 0px 15px 10px -15px #fff;
          box-shadow: 0px 15px 10px -15px #fff;
}

.burger-menu-icon,
.burger-menu-section {
  display: none;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  z-index: 5;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  position: relative;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  height: 100px;
  font-weight: 500;
}

.logo a::before,
.logo a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}

.logo a:hover::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ea3057;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
}

.logo a:hover::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #9fd2cb;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  -webkit-transition-delay: 175ms;
          transition-delay: 175ms;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: center;
  width: 150px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.nav-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  width: 150px;
  height: 100px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-links ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}

.nav-links ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}

.nav-links ul li a:hover::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ea3057;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
}

.nav-links ul li a:hover::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #9fd2cb;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  -webkit-transition-delay: 175ms;
          transition-delay: 175ms;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-buttons ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: center;
  width: 140px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.nav-contact {
  background-color: #ea3057;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 50px;
  width: 125px;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #9fd2cb;
  border: none;
  border-radius: 10px;
  color: #191919;
  height: 50px;
  width: 125px;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-contact:hover,
.nav-download:hover {
  color: #fff;
  background-color: #333;
}

div#staticBackdrop.modal.fade {
  -webkit-transition: none;
  transition: none;
}

div#staticBackdrop.modal.fade.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog {
  max-width: 30%;
  width: 30%;
}

.modal-header {
  padding-top: 1.5rem;
  padding-right: 3rem;
  padding-bottom: 0rem;
  border-bottom: none;
}

.modal-close {
  font-size: 2.5rem;
  background: none;
  color: #fff;
  border: none;
}

.modal-close:hover {
  color: #ea3057;
}

.modal-content {
  width: 750px;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: none;
  background-color: #191919;
}

.modal-body h3 {
  font-size: 2.25rem;
  color: #9fd2cb;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.modal-body h4 {
  color: #ea3057;
  text-align: center;
  margin-bottom: 1rem;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #191919;
  height: 100vh;
  z-index: 1;
}

.home-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.home-info h4 {
  color: #ea3057;
  margin-left: 0.3rem;
  margin-bottom: 0;
  font-size: 2rem;
  position: relative;
}

.home-info h1 {
  color: #fff;
  font-size: 6rem;
  height: 110px;
  margin-bottom: 0rem;
  text-transform: uppercase;
  position: relative;
}

.home-info h3 {
  color: #9fd2cb;
  font-size: 4rem;
  margin-left: 0.3rem;
  margin-bottom: 1.5rem;
}

.home-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #ea3057;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 65px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 0.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home-info a:hover {
  background-color: #333;
  color: #fff;
}

.home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ----- HOME PAGE STYLING END ----- */
/* ----- ABOUT PAGE STYLING START ----- */
#about {
  padding-top: 8rem;
  background: #333;
  padding-bottom: 11rem;
}

.about-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-heading h1 {
  color: #9fd2cb;
  font-size: 3rem;
  position: relative;
}

.about-heading h5 {
  color: #ea3057;
  margin-bottom: 9rem;
}

.about-heading h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #ea3057;
}

.about-heading h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: #9fd2cb;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 3rem;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3rem;
}

.about-image img {
  height: 450px;
}

.about-content h3 {
  color: #9fd2cb;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
}

.about-content a {
  color: #fff;
}

.about-content p {
  color: #fff;
  margin-bottom: 0;
}

.about-content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.about-content-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0;
}

.about-content-buttons ul li {
  list-style-type: none;
  margin-right: 1.5rem;
}

.about-content-buttons ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75px;
  width: 150px;
  text-decoration: none;
  background-color: #9fd2cb;
  color: #191919;
  border: 2px solid #9fd2cb;
  border-radius: 5px;
  text-align: center;
}

.about-content-buttons a:hover {
  border: 2px solid #191919;
  background-color: #191919;
  color: #ea3057;
}

.about-content-buttons i {
  font-size: 1.25rem;
  padding-bottom: 0.15rem;
}

.goals {
  margin-top: 5.5rem;
}

.goals ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0;
  margin-bottom: 0;
}

.goals ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 125px;
  width: 175px;
  border-radius: 5px;
  border: 2px solid #191919;
  background-color: #191919;
  list-style-type: none;
  margin-right: 1.5rem;
}

.goals ul li i {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #ea3057;
}

.skills-section h3 {
  margin-top: 1.8rem;
  color: #9fd2cb;
  text-transform: uppercase;
}

/* ----- ABOUT PAGE STYLING END ----- */
/* ----- SKILLS PAGE STYLING START ----- */
.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.icon {
  width: 29%;
  margin: 0 0.25rem;
  color: #ea3057;
  background-color: #191919;
  border-radius: 10px;
}

.icon-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  font-size: 3.5rem;
}

.icon img {
  width: 50px;
}

.icon-django {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  font-size: 5rem;
  padding-top: 0.5rem;
}

.icon-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.icon-responsive img {
  padding-top: 0.5rem;
  width: 75px;
}

.icon-text {
  font-size: 1rem;
  color: #fff;
  padding-bottom: 1.25rem;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-end-container {
  background-color: #191919;
  border: 2px solid #191919;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1em #fff;
          box-shadow: 0 0 1em #fff;
  padding: 1rem;
  margin-left: 2.5rem;
}

.front-end-container h6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.front-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front-end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 1rem;
}

.front-end ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  height: 90px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin: 0 0.5rem;
}

.front-end ul li img {
  width: 40px;
}

.responsive-text {
  margin-top: 0.15rem;
}

.front-end ul li i {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.back-end-container {
  width: 850px;
  background-color: #191919;
  border: 2px solid #191919;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1em #fff;
          box-shadow: 0 0 1em #fff;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

.back-end-container h6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.back-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 1rem;
}

.back-end ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  height: 90px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-right: 1rem;
}

.back-end ul li i {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.coding-skills-container {
  width: 900px;
  background-color: #191919;
  border: 2px solid #191919;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1em #fff;
          box-shadow: 0 0 1em #fff;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

.coding-skills-container h6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.coding-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coding-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 1rem;
}

.coding-skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  height: 90px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-right: 1rem;
}

.coding-skills ul li img {
  width: 30px;
}

.coding-skills ul li i {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.skills-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #ea3057;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.skills-text h3 {
  padding-bottom: 1.5rem;
  text-align: center;
  color: #ea3057;
  text-decoration: underline;
}

.skills-text ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ea3057;
}

/* ----- SKILLS PAGE STYLING END ----- */
/* ----- PORTFOLIO PAGE STYLING START ----- */
#portfolio {
  padding-top: 7.5rem;
  background-color: #191919;
  padding-bottom: 8rem;
}

.portfolio-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.portfolio-heading h1 {
  color: #ea3057;
  font-size: 3rem;
  position: relative;
}

.portfolio-heading h5 {
  color: #9fd2cb;
  margin-bottom: 2rem;
}

.portfolio-heading h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #9fd2cb;
}

.portfolio-heading h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: #ea3057;
}

.project-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem;
}

.project-card-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1250;
      -ms-flex: 1250;
          flex: 1250;
  max-width: 1250px;
  border: none;
}

.project-card-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1250;
      -ms-flex: 1250;
          flex: 1250;
  max-width: 1250px;
  border: none;
}

.project-image-1,
.project-image-2 {
  width: 400px;
  height: 350px;
}

.project-image-1 img {
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.project-image-2 img {
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.project-info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  height: 350px;
  color: #fff;
  padding: 3.5rem;
  background-color: #333;
}

.project-info-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #ea3057;
}

.project-info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  height: 350px;
  color: #fff;
  padding: 3.5rem;
  background-color: #333;
}

.project-info-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #9fd2cb;
}

.project-info-1 h3,
.project-info-2 h3 {
  padding-bottom: 0.5rem;
  color: #fff;
  font-size: 2.25rem;
}

.project-info-1 h6,
.project-info-2 h6 {
  font-size: 1.2rem;
  padding: 0;
  font-weight: 400;
  color: #fff;
}

.info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-info-1 .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.project-info-1 .info-text p {
  background-color: #191919;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.project-info-2 .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}

.project-info-2 .info-text p {
  background-color: #191919;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.info-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.info-buttons a i {
  font-size: 1rem;
  padding-left: 0.15rem;
}

.project-info-1 .info-buttons a {
  display: block;
  width: 160px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #ea3057;
  background-color: #ea3057;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
  margin-right: 1rem;
  text-transform: uppercase;
}

.project-info-2 .info-buttons a {
  display: block;
  width: 160px;
  text-decoration: none;
  color: #191919;
  border: 2px solid #9fd2cb;
  background-color: #9fd2cb;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
  margin-right: 1rem;
  text-transform: uppercase;
}

.project-info-1 .info-buttons a:hover {
  border: 2px solid #191919;
  background-color: #191919;
  color: #fff;
}

.project-info-2 .info-buttons a:hover {
  border: 2px solid #191919;
  background-color: #191919;
  color: #fff;
}

/* ----- PORTFOLIO PAGE STYLING END ----- */
/* ----- CONTACT PAGE STYLING START ----- */
#contact {
  padding-top: 4rem;
  background-color: #333;
  padding-bottom: 10rem;
}

.contact-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.contact-heading h1 {
  color: #9fd2cb;
  font-size: 3rem;
  position: relative;
}

.contact-heading h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #ea3057;
}

.contact-heading h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: #9fd2cb;
}

.contact-heading h5 {
  color: #ea3057;
}

.contact-heading h6 {
  color: #fff;
  margin-top: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.contact-heading button {
  margin-top: 1.25rem;
  height: 65px;
  width: 200px;
  border: 2px solid #ea3057;
  background-color: #ea3057;
  border-radius: 10px;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-heading button:hover {
  background-color: #9fd2cb;
  border-color: #9fd2cb;
  color: #191919;
}

.contact-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 750px;
}

.contact-form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #191919;
  border-right: 2px solid #333;
  height: 600px;
  width: 600px;
  margin-top: 2rem;
  padding: 4rem 2rem;
}

.contact-form-text h4 {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-bottom: 3rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.contact-form-text p {
  font-size: 1.2rem;
  color: #9fd2cb;
  margin-bottom: 0;
}

.contact-form-text h5 {
  color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.contact-form-text a {
  padding-top: 0.25rem;
  color: #ea3057;
  text-decoration: none;
  margin-bottom: 2rem;
}

.contact-form-text a i {
  font-size: 1.25rem;
}

.contact-form-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.contact-form-text ul li {
  list-style-type: none;
  margin-right: 1rem;
}

.contact-form-text ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  background-color: #333;
  text-decoration: none;
  color: #fff;
}

.contact-form {
  height: 600px;
  width: 100%;
  margin-top: 2rem;
  padding: 4rem 8rem 4rem;
  background-color: #191919;
}

.contact-form #contact-form .contact-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact-form #contact-form label {
  background-color: #333;
  border: none;
  height: 56px;
  width: 55px;
  padding: 1rem;
  text-align: center;
}

.contact-form #contact-form label:nth-child(0) {
  display: none;
}

.contact-form #contact-form label i {
  color: #fff;
}

.contact-form #contact-form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #333;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 2px solid #191919;
  color: #fff;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

.contact-form #contact-form input:focus,
.contact-form #contact-form input:active {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 2px solid #191919;
  outline: none;
}

.contact-form #contact-form textarea:focus,
.contact-form #contact-form textarea:active {
  border: none;
  outline: none;
}

.contact-form #contact-form textarea {
  background-color: #333;
  color: #fff;
  border: none;
  max-width: 100%;
  width: 100%;
  max-height: 200px;
  height: 200px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

.textarea-input label {
  display: none;
}

.contact-form #contact-form input::-webkit-input-placeholder,
.contact-form #contact-form textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.contact-form #contact-form input:-ms-input-placeholder,
.contact-form #contact-form textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.contact-form #contact-form input::-ms-input-placeholder,
.contact-form #contact-form textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 1rem;
}

.contact-form #contact-form input::placeholder,
.contact-form #contact-form textarea::placeholder {
  color: #fff;
  font-size: 1rem;
}

.contact-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-right: 0;
}

.contact-form-button button {
  width: 200px;
  padding: 1rem;
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-form-button button i {
  padding-left: 0.25rem;
}

.contact-form-button button:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #191919;
}

/* ----- CONTACT PAGE STYLING END ----- */
/* ----- FOOTER STYLING START ----- */
footer {
  background-color: #191919;
  border-bottom: 2px solid #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

footer p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

/* ----- FOOTER STYLING END ----- */
@media screen and (max-width: 1400px) {
  .home-info h4 {
    font-size: 1.75rem;
  }
  .home-info h1 {
    height: 100px;
    font-size: 5.5rem;
  }
  .home-info h3 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }
  .home-info a {
    height: 60px;
  }
  .project-card-1 {
    -webkit-box-flex: 1000;
        -ms-flex: 1000;
            flex: 1000;
    max-width: 1000px;
  }
  .project-card-2 {
    -webkit-box-flex: 1000;
        -ms-flex: 1000;
            flex: 1000;
    max-width: 1000px;
  }
  .project-info-1 h3,
  .project-info-2 h3 {
    font-size: 2rem;
  }
  .project-info-1 h6,
  .project-info-2 h6 {
    font-size: 1rem;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0rem;
  }
  .project-info-1 .info-text {
    margin-top: 0rem;
  }
  .project-info-1 .info-text p {
    margin: 1rem 0.5rem 1rem 0rem;
  }
  .project-info-2 .info-text {
    margin-top: 0rem;
  }
  .project-info-2 .info-text p {
    margin: 1rem 0.5rem 1rem 0rem;
  }
  .info-buttons {
    margin-top: 0rem;
  }
  .project-info-1 .info-buttons a {
    margin: 0.5rem 0;
    margin-right: 1rem;
  }
  .project-info-2 .info-buttons a {
    margin: 0.5rem 0;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .logo a {
    font-size: 1.5rem;
  }
  .nav-links ul li,
  .nav-buttons ul li {
    width: 125px;
  }
  .nav-links ul li a,
  .nav-buttons ul li a {
    width: 125px;
    font-size: 1rem;
  }
  .nav-links ul li a:hover::before,
  .nav-buttons ul li a:hover::before {
    width: 125px;
  }
  .nav-links ul li a:hover::after,
  .nav-buttons ul li a:hover::after {
    width: 125px;
  }
  .icon {
    width: 29%;
  }
  .icon-icon {
    font-size: 3rem;
  }
  .icon-text {
    font-size: 0.9rem;
    padding-bottom: 1.75rem;
  }
  .contact-form {
    padding: 4rem 5rem 3rem;
  }
}

@media screen and (max-width: 992px) {
  .logo a {
    font-size: 1.25rem;
  }
  .nav-links ul li,
  .nav-buttons ul li {
    width: 100px;
  }
  .nav-links ul li a,
  .nav-buttons ul li a {
    width: 100px;
    font-size: 0.9rem;
  }
  .nav-links ul li a:hover::before,
  .nav-buttons ul li a:hover::before {
    width: 100px;
  }
  .nav-links ul li a:hover::after,
  .nav-buttons ul li a:hover::after {
    width: 100px;
  }
  .home-info h4 {
    font-size: 1.5rem;
  }
  .home-info h1 {
    height: 75px;
    font-size: 4.5rem;
  }
  .home-info h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .home-info a {
    height: 55px;
  }
  /* ----- About Page Styling ----- */
  .about-content {
    margin-top: 4rem;
    padding: 0;
  }
  /* ----- Skills Page Styling ----- */
  .icon {
    width: 25%;
  }
  .icon-text {
    font-size: 0.8rem;
  }
  .skills-text {
    width: 90%;
  }
  /* ----- Portfolio Page ----- */
  .project-card-1 {
    -webkit-box-flex: 900;
        -ms-flex: 900;
            flex: 900;
    max-width: 900px;
  }
  .project-card-2 {
    -webkit-box-flex: 900;
        -ms-flex: 900;
            flex: 900;
    max-width: 900px;
  }
  .project-image-1,
  .project-image-2 {
    width: 350px;
    height: 300px;
  }
  .project-image-1 img,
  .project-image-2 img {
    width: 350px;
    height: 300px;
  }
  .project-info-1,
  .project-info-2 {
    padding: 1.5rem 2rem;
    height: 300px;
  }
  .project-info-1 h3,
  .project-info-2 h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  .project-info-1 h6,
  .project-info-2 h6 {
    font-size: 0.9rem;
  }
  .project-info-1 .info-text p,
  .project-info-2 .info-text p {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0rem;
  }
  .info-buttons {
    margin-top: 0rem;
  }
  .info-buttons a i {
    font-size: 0.9rem;
    padding-left: 0.15rem;
  }
  .project-info-1 .info-buttons a {
    width: 125px;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .project-info-2 .info-buttons a {
    width: 125px;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .contact-heading {
    padding-top: 1rem;
  }
  .contact-heading h1 {
    font-size: 2.5rem;
  }
  .contact-heading h6 {
    color: #fff;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  .contact-form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
    width: 100%;
    height: 950px;
  }
  .contact-form-text {
    background-color: #191919;
    border-right: none;
    border-bottom: 2px solid #333;
    height: 400px;
    width: 100%;
    padding: 2.5rem 4.4rem;
  }
  .contact-form {
    width: 100%;
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-top: 0rem;
    padding-left: 0rem;
  }
  .logo a {
    font-size: 1.5rem;
  }
  .navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100px;
    z-index: 3;
  }
  .nav-links,
  .nav-buttons {
    display: none;
  }
  div.nav-links {
    padding-left: 0rem;
  }
  div.nav-buttons {
    padding-right: 0rem;
  }
  .burger-menu-icon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 30px;
    right: 60px;
    background-color: transparent;
    border: 1px solid #191919;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    -webkit-transform: 1s;
            transform: 1s;
  }
  .burger-menu-icon .line {
    height: 2px;
    width: 30px;
    background-color: #ea3057;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .burger-menu-icon .line::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 5px;
    background-color: #ea3057;
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  .burger-menu-icon .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 5px;
    background-color: #ea3057;
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  .burger-menu-icon.show .line {
    background-color: transparent;
    -webkit-transition: 0s;
    transition: 0s;
  }
  .burger-menu-icon.show .line::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .burger-menu-icon.show .line::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .burger-menu-section {
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #ea3057;
    z-index: 5;
  }
  .burger-menu-section .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-top: 2rem;
  }
  .burger-menu-section .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .burger-menu-section .nav-links ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0.5rem 0;
    width: 90%;
    height: 50px;
    cursor: pointer;
    position: relative;
  }
  .burger-menu-section .nav-links ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    background-color: #191919;
    color: #fff;
    height: 50px;
    width: 90%;
    font-size: 1.1rem;
    z-index: 1;
  }
  .burger-menu-section .nav-links ul li a::after,
  .burger-menu-section .nav-links ul li a:hover::after {
    border: none;
  }
  .burger-menu-section .nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 0;
  }
  .burger-menu-section .nav-buttons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .burger-menu-section .nav-buttons ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0.5rem 0;
    width: 90%;
    height: 50px;
    cursor: pointer;
    position: relative;
  }
  .burger-menu-section .nav-buttons ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    border-radius: 0;
    color: #191919;
    height: 50px;
    width: 90%;
    font-size: 1.1rem;
  }
  .burger-menu-section .nav-buttons ul li a:hover {
    color: #fff;
  }
  .nav-links ul li a::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }
  .nav-links ul li a::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }
  .nav-buttons ul li a::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }
  .nav-buttons ul li a::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }
  .col-lg-2 {
    display: none;
  }
  /* ----- Portfolio Page ----- */
  .project-card-1,
  .project-card-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .project-image-1,
  .project-image-2 {
    width: 100%;
  }
  .project-image-1 img,
  .project-image-2 img {
    height: 100%;
    width: 100%;
  }
  .project-info-1,
  .project-info-2 {
    padding: 1rem;
    height: 300px;
  }
  .project-info-1::before,
  .project-info-2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5px;
  }
  .project-info-1 h3,
  .project-info-2 h3 {
    margin-top: 0.9rem;
    font-size: 2rem;
  }
  .project-info-1 h6,
  .project-info-2 h6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
    font-size: 1.1rem;
  }
  .project-info-1 .info-text p,
  .project-info-2 .info-text p {
    font-size: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0rem;
  }
  .info-buttons a i {
    font-size: 1rem;
    padding-left: 0.15rem;
  }
  .project-info-1 .info-buttons a {
    width: 150px;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .project-info-2 .info-buttons a {
    width: 150px;
    padding: 0.5rem;
    font-size: 1rem;
  }
  /* ----- Contact Page ----- */
  .contact-form-text {
    padding: 2.5rem 2rem;
  }
  .contact-form {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    height: 60px;
  }
  .logo {
    height: 60px;
  }
  .logo a {
    height: 60px;
    padding-left: 1rem;
  }
  .burger-menu {
    height: 775px;
  }
  .burger-menu-section {
    top: 60px;
  }
  .burger-menu-icon {
    top: 7.5px;
    right: 30px;
  }
  .burger-menu-section .nav-links {
    padding-top: 0.5rem;
  }
  .burger-menu-section .nav-links ul li {
    margin: 0.25rem 0;
    height: 40px;
  }
  .burger-menu-section .nav-links ul li a,
  .burger-menu-section .nav-buttons ul li a {
    height: 40px;
  }
  .burger-menu-section .nav-buttons ul li {
    margin: 0.25rem 0;
    height: 40px;
  }
  #home {
    height: 825px;
  }
  .home-section {
    height: 650px;
  }
  .home-info h4 {
    font-size: 1.1rem;
  }
  .home-info h1 {
    height: 50px;
    font-size: 2.5rem;
  }
  .home-info h3 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }
  .home-info a {
    height: 40px;
    width: 150px;
    font-size: 1rem;
  }
  /* ----- About Page Styling ----- */
  #about {
    padding-top: 110px;
  }
  .about-heading h1 {
    font-size: 2rem;
  }
  .about-heading h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .about-heading h1::before,
  .about-heading h1::after {
    top: 80px;
  }
  .about-content {
    padding: 0;
  }
  .about-content-buttons {
    width: 100%;
  }
  .about-content-buttons ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about-content-buttons ul li {
    width: 100%;
    margin-bottom: 1rem;
  }
  .about-content-buttons ul li a {
    width: 100%;
    margin: 0;
  }
  /* ----- Skills Page Styling ----- */
  .icon-container {
    margin-top: 1.5rem;
    gap: 0;
  }
  .icon {
    width: 30%;
  }
  .icon-icon {
    height: 50px;
    font-size: 1.5rem;
  }
  .icon-django,
  .icon-responsive {
    height: 50px;
    font-size: 2rem;
  }
  .icon img {
    width: 25px;
  }
  .icon-responsive img {
    padding-top: 0;
    width: 35px;
  }
  .icon-text {
    padding-bottom: 0.5rem;
    font-size: 0.5rem;
  }
  .icon-responsive {
    font-size: 0.5rem;
  }
  .skills-text {
    width: 95%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .skills-text h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
  .skills-text ul {
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }
  .skills-text ul li {
    padding: 0.25rem 0;
  }
  /* ----- Portfolio Page ----- */
  #portfolio {
    padding-top: 110px;
    padding-bottom: 3rem;
  }
  .portfolio-heading {
    margin-bottom: 1.5rem;
  }
  .portfolio-heading h1 {
    font-size: 2rem;
  }
  .portfolio-heading h5 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .portfolio-heading h1::before,
  .portfolio-heading h1::after {
    top: 80px;
  }
  .project-row {
    margin: 1rem 2rem;
  }
  .project-card-1,
  .project-card-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  .project-image-1,
  .project-image-2 {
    width: 300px;
  }
  .project-image-1 img,
  .project-image-2 img {
    width: 300px;
  }
  .project-info-1,
  .project-info-2 {
    position: relative;
    height: 250px;
    width: 300px;
    padding: 0.5rem;
  }
  .project-info-1::before,
  .project-info-2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 5px;
  }
  .project-info-1 h3,
  .project-info-2 h3 {
    margin-top: 0.9rem;
    font-size: 1.5rem;
  }
  .project-info-1 h6,
  .project-info-2 h6 {
    font-size: 0.75rem;
  }
  .project-info-1 .info-text p,
  .project-info-2 .info-text p {
    font-size: 0.8rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .info-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0rem;
  }
  .info-buttons a i {
    font-size: 0.8rem;
    padding-left: 0.15rem;
  }
  .project-info-1 .info-buttons a {
    width: 115px;
    padding: 0.5rem;
    font-size: 0.6rem;
    margin-right: 0.5rem;
  }
  .project-info-2 .info-buttons a {
    width: 115px;
    padding: 0.5rem;
    font-size: 0.6rem;
  }
  /* ----- Contact Page Styling ----- */
  #contact {
    padding-top: 110px;
    padding-bottom: 5rem;
  }
  .contact-heading {
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .contact-heading h1 {
    font-size: 2rem;
  }
  .contact-heading h5 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .contact-heading h1::before,
  .contact-heading h1::after {
    top: 80px;
  }
  .contact-heading h6 {
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
  }
  .contact-form-box {
    height: 900px;
    margin-top: 0;
  }
  .contact-form-box h4 {
    margin-top: 0.5rem;
  }
  .contact-form-text {
    height: 450px;
  }
  .contact-form {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding: 2rem 1rem 2rem;
  }
  .contact-form #contact-form input {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    height: 56px;
  }
  .contact-form #contact-form textarea {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    height: 100px;
    margin-bottom: 1rem;
  }
  .contact-form #contact-form input::-webkit-input-placeholder,
  .contact-form #contact-form textarea::-webkit-input-placeholder {
    font-size: 0.9rem;
  }
  .contact-form #contact-form input:-ms-input-placeholder,
  .contact-form #contact-form textarea:-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .contact-form #contact-form input::-ms-input-placeholder,
  .contact-form #contact-form textarea::-ms-input-placeholder {
    font-size: 0.9rem;
  }
  .contact-form #contact-form input::placeholder,
  .contact-form #contact-form textarea::placeholder {
    font-size: 0.9rem;
  }
  .contact-form-button button {
    width: 100%;
    margin-bottom: 1rem;
  }
  footer p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 425px) {
  header {
    height: 100px;
  }
  .logo {
    height: 100px;
  }
  .logo a {
    height: 100px;
    padding-left: 1rem;
  }
  .burger-menu {
    height: 775px;
  }
  .burger-menu-section {
    top: 100px;
  }
  .burger-menu-icon {
    top: 30px;
    right: 30px;
  }
  .burger-menu-section .nav-links {
    padding-top: 1.2rem;
  }
  .burger-menu-section .nav-links ul li {
    margin: 0.5rem 0;
    height: 50px;
  }
  .burger-menu-section .nav-links ul li a,
  .burger-menu-section .nav-buttons ul li a {
    height: 50px;
  }
  .burger-menu-section .nav-buttons ul li {
    margin: 0.5rem 0;
    height: 50px;
  }
  .about-content {
    margin-top: 2.5rem;
  }
  .about-content-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content-buttons a {
    width: 275px;
    margin: 0.5rem;
  }
  .skills-text h3 {
    font-size: 1rem;
    padding-bottom: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */