@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row,
.container-fluid {
  --bs-gutter-x: 0;
}

div.col-12 {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #191919;
  z-index: 3;
  box-shadow: 0px 15px 10px -15px #fff;
}

.burger-menu-icon,
.burger-menu-section {
  display: none;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 5;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  height: 100px;
  font-weight: 500;
}

.logo a::before,
.logo a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}

.logo a:hover::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ea3057;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
}

.logo a:hover::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #9fd2cb;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  transition-delay: 175ms;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 150px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.nav-links ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 150px;
  height: 100px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-links ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}

.nav-links ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}

.nav-links ul li a:hover::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ea3057;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
}

.nav-links ul li a:hover::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #9fd2cb;
  -webkit-transition: ease 0.15s;
  transition: ease 0.15s;
  transition-delay: 175ms;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-buttons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-buttons ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 140px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

.nav-contact {
  background-color: #ea3057;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 50px;
  width: 125px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

.nav-download {
  background-color: #9fd2cb;
  border: none;
  border-radius: 10px;
  color: #191919;
  height: 50px;
  width: 125px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

.nav-contact:hover,
.nav-download:hover {
  color: #fff;
  background-color: #333;
}

div#staticBackdrop.modal.fade {
  transition: none;
}

div#staticBackdrop.modal.fade.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  max-width: 30%;
  width: 30%;
}

.modal-header {
  padding-top: 1.5rem;
  padding-right: 3rem;
  padding-bottom: 0rem;
  border-bottom: none;
}

.modal-close {
  font-size: 2.5rem;
  background: none;
  color: #fff;
  border: none;
}

.modal-close:hover {
  color: #ea3057;
}

.modal-content {
  width: 750px;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: none;
  background-color: #191919;
}

.modal-body h3 {
  font-size: 2.25rem;
  color: #9fd2cb;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.modal-body h4 {
  color: #ea3057;
  text-align: center;
  margin-bottom: 1rem;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #191919;
  height: 100vh;
  z-index: 1;
}

.home-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.home-info h4 {
  color: #ea3057;
  margin-left: 0.3rem;
  margin-bottom: 0;
  font-size: 2rem;
  position: relative;
}

.home-info h1 {
  color: #fff;
  font-size: 6rem;
  height: 110px;
  margin-bottom: 0rem;
  text-transform: uppercase;
  position: relative;
}

.home-info h3 {
  color: #9fd2cb;
  font-size: 4rem;
  margin-left: 0.3rem;
  margin-bottom: 1.5rem;
}

.home-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #ea3057;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 65px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 0.3rem;
  transition: all 0.5s;
}

.home-info a:hover {
  background-color: #9fd2cb;
  color: #191919;
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ----- HOME PAGE STYLING END ----- */

/* ----- ABOUT PAGE STYLING START ----- */

#about {
  padding-top: 6.5rem;
  background: #333;
  padding-bottom: 3rem;
}

.about-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.about-heading h1 {
  color: #9fd2cb;
  font-size: 3rem;
  position: relative;
}

.about-heading h5 {
  color: #ea3057;
  margin-bottom: 4rem;
}

.about-heading h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #ea3057;
}

.about-heading h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: #9fd2cb;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4rem;
  padding: 5rem;
  padding-left: 0rem;
  padding-right: 5rem;
}

.about-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3rem;
}

.about-image img {
  height: 450px;
}

.about-content h4 {
  color: #ea3057;
  padding-bottom: 0.5rem;
}

.about-content p {
  color: #191919;
}

.about-content span {
  color: #ea3057;
}

.about-content-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-content-buttons ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
}

.about-content-buttons ul li {
  list-style-type: none;
  margin-right: 1.5rem;
}

.about-content-buttons ul li button {
  height: 75px;
  width: 100px;
  text-decoration: none;
  color: #191919;
  border: 2px solid #191919;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.about-content-buttons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100px;
  text-decoration: none;
  color: #191919;
  border: 2px solid #191919;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.about-content-buttons a:hover,
.about-content-buttons button:hover {
  border: 2px solid #191919;
  background-color: #191919;
  color: #fff;
}

.about-content-buttons i {
  font-size: 1.5rem;
}

/* ----- ABOUT PAGE STYLING END ----- */

/* ----- SKILLS PAGE STYLING START ----- */

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.icon {
  width: 200px;
  margin: 0 0.25rem;
  color: #ea3057;
  background-color: #191919;
  border-radius: 10px;
}

.icon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 3.5rem;
}

.icon img {
  width: 50px;
}

.icon-django {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 5rem;
  padding-top: 0.5rem;
}

.icon-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.icon-responsive img {
  padding-top: 0.5rem;
  width: 75px;
}

.icon-text {
  font-size: 1rem;
  color: #fff;
  padding-bottom: 1.25rem;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-end-container {
  background-color: #191919;
  border: 2px solid #191919;
  border-radius: 10px;
  box-shadow: 0 0 1em #fff;
  padding: 1rem;
  margin-left: 2.5rem;
}

.front-end-container h6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.front-end {
  display: flex;
  justify-content: center;
}

.front-end ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 1rem;
}

.front-end ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  height: 90px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin: 0 0.5rem;
}

.front-end ul li img {
  width: 40px;
}

.responsive-text {
  margin-top: 0.15rem;
}

.front-end ul li i {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

.back-end-container {
  width: 850px;
  background-color: #191919;
  border: 2px solid #191919;
  border-radius: 10px;
  box-shadow: 0 0 1em #fff;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

.back-end-container h6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.back-end {
  display: flex;
}

.back-end ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 1rem;
}

.back-end ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  height: 90px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-right: 1rem;
}

.back-end ul li i {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.coding-skills-container {
  width: 900px;
  background-color: #191919;
  border: 2px solid #191919;
  border-radius: 10px;
  box-shadow: 0 0 1em #fff;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

.coding-skills-container h6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.coding-skills {
  display: flex;
}

.coding-skills ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 1rem;
}

.coding-skills ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  height: 90px;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-right: 1rem;
}

.coding-skills ul li img {
  width: 30px;
}

.coding-skills ul li i {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.skills-text {
  display: flex;
  flex-direction: column;
  border: 2px solid #ea3057;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.skills-text h3 {
  padding-bottom: 1.5rem;
  text-align: center;
  color: #ea3057;
  text-decoration: underline;
}

.skills-text ul {
  justify-content: flex-start;
  align-items: flex-start;
  color: #ea3057;
}

/* ----- SKILLS PAGE STYLING END ----- */

/* ----- PORTFOLIO PAGE STYLING START ----- */

#portfolio {
  padding-top: 6.5rem;
  background-color: #191919;
  padding-bottom: 5rem;
}

.portfolio-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 2rem;
}

.portfolio-heading h1 {
  color: #ea3057;
  font-size: 3rem;
  position: relative;
}

.portfolio-heading h5 {
  color: #9fd2cb;
  margin-bottom: 2rem;
}

.portfolio-heading h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #ea3057;
}

.portfolio-heading h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: #9fd2cb;
}

.project-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.project-card-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1250;
  max-width: 1250px;
  border: none;
}

.project-card-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1250;
  max-width: 1250px;
  border: none;
}

.project-image-1,
.project-image-2 {
  width: 400px;
  height: 350px;
}

.project-image-1 img {
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.project-image-2 img {
  width: 400px;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.project-info-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
  height: 350px;
  color: #fff;
  padding: 3.5rem;
  background-color: #333;
}

.project-info-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #ea3057;
}

.project-info-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
  height: 350px;
  color: #fff;
  padding: 3.5rem;
}

.project-info-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #9fd2cb;
}

.project-info-1 h3,
.project-info-2 h3 {
  padding-bottom: 0.5rem;
  color: #fff;
  font-size: 2.25rem;
}

.project-info-1 h6,
.project-info-2 h6 {
  font-size: 1.2rem;
  padding: 0;
  font-weight: 400;
  color: #fff;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.project-info-1 .info-text {
  display: flex;
  margin-top: 0.5rem;
}

.project-info-1 .info-text p {
  background-color: #191919;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.project-info-2 .info-text {
  display: flex;
  margin-top: 0.5rem;
}

.project-info-2 .info-text p {
  background-color: #333;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.info-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.info-buttons a i {
  font-size: 1rem;
  padding-left: 0.15rem;
}

.project-info-1 .info-buttons a {
  display: block;
  width: 160px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #ea3057;
  background-color: #ea3057;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
  margin-right: 1rem;
  text-transform: uppercase;
}

.project-info-2 .info-buttons a {
  display: block;
  width: 160px;
  text-decoration: none;
  color: #191919;
  border: 2px solid #9fd2cb;
  background-color: #9fd2cb;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
  margin-right: 1rem;
  text-transform: uppercase;
}

.project-info-1 .info-buttons a:hover {
  border: 2px solid #191919;
  background-color: #191919;
  color: #fff;
}

.project-info-2 .info-buttons a:hover {
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
}

/* ----- PORTFOLIO PAGE STYLING END ----- */

/* ----- CONTACT PAGE STYLING START ----- */

#contact {
  background-color: #333;
  padding-bottom: 3rem;
}

.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}

.contact-heading h1 {
  color: #9fd2cb;
  font-size: 3rem;
}

.contact-heading h5 {
  color: #ea3057;
}

.contact-heading h6 {
  color: #fff;
  margin-top: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.contact-heading button {
  margin-top: 1.25rem;
  height: 65px;
  width: 200px;
  border: 2px solid #ea3057;
  background-color: #ea3057;
  border-radius: 10px;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  transition: all 0.5s;
}

.contact-heading button:hover {
  background-color: #9fd2cb;
  border-color: #9fd2cb;
  color: #191919;
}

.contact-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 750px;
  margin-top: 3rem;
}

.contact-info div {
  width: 33%;
  padding-top: 1rem;
  text-align: center;
  border-right: 2px solid #191919;
}

.contact-info div:last-of-type {
  border: none;
}

.contact-info div i {
  font-size: 2rem;
  color: #ea3057;
}

.contact-info div p {
  color: #191919;
  font-size: 1rem;
}

.contact-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 750px;
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form form label {
  border: 2px solid #fff;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 55px;
  padding: 1rem;
  text-align: center;
}

.contact-form form label:nth-child(0) {
  display: none;
}

.contact-form form label i {
  color: #ea3057;
}

.contact-form form input {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom: 2px solid #fff;
  width: 500px;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

.contact-form form input:focus,
.contact-form form input:active {
  border: 2px solid #fff !important;
  outline: #fff;
}

.contact-form form textarea:focus,
.contact-form form textarea:active {
  border: 2px solid #fff !important;
  outline: #fff;
}

.contact-form form textarea {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  max-width: 555px;
  width: 555px;
  max-height: 150px;
  height: 150px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 0;
}

.textarea-input label {
  display: none;
}

.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  color: #9fd2cb;
  font-size: 1rem;
}

.contact-form-button {
  width: 540px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-form-button button {
  width: 200px;
  padding: 1rem;
  border: 2px solid #ea3057;
  background-color: #ea3057;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: all 0.5s;
}

.contact-form-button button:hover {
  border: 2px solid #9fd2cb;
  background-color: #9fd2cb;
  color: #191919;
}

/* ----- CONTACT PAGE STYLING END ----- */

/* ----- FOOTER STYLING START ----- */

footer {
  background-color: #191919;
  border-bottom: 2px solid #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

footer p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

/* ----- FOOTER STYLING END ----- */

@media screen and (max-width: 1200px) {
  .project-card {
    flex: 50%;
    max-width: 50%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links ul li,
  .nav-buttons ul li {
    width: 90px;
  }

  .nav-links ul li a,
  .nav-buttons ul li a {
    width: 90px;
    font-size: 1rem;
  }

  .nav-links ul li a:hover::before,
  .nav-buttons ul li a:hover::before {
    width: 90px;
  }

  .nav-links ul li a:hover::after,
  .nav-buttons ul li a:hover::after {
    width: 90px;
  }
}

@media screen and (max-width: 992px) {
  .logo a {
    font-size: 1.25rem;
  }

  .nav-links ul li,
  .nav-buttons ul li {
    width: 75px;
  }

  .nav-links ul li a,
  .nav-buttons ul li a {
    width: 75px;
    font-size: 0.9rem;
  }

  .nav-links ul li a:hover::before,
  .nav-buttons ul li a:hover::before {
    width: 75px;
  }

  .nav-links ul li a:hover::after,
  .nav-buttons ul li a:hover::after {
    width: 75px;
  }

  /* ----- About Page Styling ----- */

  .hobbie-heading {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .about-content p {
    font-size: 0.9rem;
  }

  .hobbie {
    width: 175px;
  }

  .coding img {
    padding-top: 0;
  }

  .coding h6 {
    padding-top: 0.4rem;
  }

  .gaming h6,
  .coding h6,
  .sports h6,
  .design h6,
  .tv h6,
  .music h6 {
    font-size: 0.85rem;
  }

  .about-content {
    margin-top: 4rem;
    padding: 0 0 0 2rem;
  }

  .offer-card {
    width: 175px;
  }

  .uxi img {
    height: 40px !important;
  }

  .responsive img {
    height: 60px !important;
  }

  .offer-card img {
    height: 45px;
  }

  .offer-card h6 {
    font-size: 0.9rem;
  }

  /* ----- Skills Page Styling ----- */

  .icon {
    width: 25%;
  }

  .icon-text {
    font-size: 0.8rem;
  }

  .skills-text {
    width: 90%;
  }

  /* ----- Portfolio Page ----- */

  .project-card-1 {
    flex: 650;
    max-width: 650px;
    transform: translateX(25px);
  }

  .project-card-2 {
    flex: 650;
    max-width: 650px;
    transform: translateX(-25px);
  }

  .project-image-1,
  .project-image-2 {
    width: 300px;
    height: 300px;
  }

  .project-image-1 img {
    width: 300px;
    height: 300px;
  }

  .project-image-2 img {
    width: 300px;
    height: 300px;
  }

  .project-info-1 {
    width: 350px;
    height: 300px;
  }

  .project-info-2 {
    width: 350px;
    height: 300px;
  }

  .project-info-1 h3,
  .project-info-2 h3 {
    font-size: 1.5rem;
  }

  .project-info-1 h6,
  .project-info-2 h6 {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .info-icons div i {
    font-size: 1.5rem;
  }

  .info-buttons {
    margin-top: 0;
  }

  .info-buttons a {
    width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-top: 1.5rem;
    padding-left: 1.5rem;
  }

  .navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 75px;
    z-index: 3;
  }

  .nav-links,
  .nav-buttons {
    display: none;
  }

  div.nav-links {
    padding-left: 0rem;
  }

  div.nav-buttons {
    padding-right: 0rem;
  }

  .burger-menu-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 15px;
    right: 30px;
    background-color: transparent;
    border: 1px solid #191919;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transform: 1s;
  }

  .burger-menu-icon .line {
    height: 2px;
    width: 30px;
    background-color: #ea3057;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .burger-menu-icon .line::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 5px;
    background-color: #ea3057;
    transform: translateY(-9px);
  }

  .burger-menu-icon .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 5px;
    background-color: #ea3057;
    transform: translateY(9px);
  }

  .burger-menu-icon.show .line {
    background-color: transparent;
    transition: 0s;
  }

  .burger-menu-icon.show .line::before {
    transform: rotate(-45deg);
    transition: 0.25s;
  }

  .burger-menu-icon.show .line::after {
    transform: rotate(45deg);
    transition: 0.25s;
  }

  .burger-menu-section {
    position: fixed;
    top: 75px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #191919;
    z-index: 5;
  }

  .burger-menu-section .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
  }

  .burger-menu-section .nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 0;
    padding-left: 0;
  }

  .burger-menu-section .nav-links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0.5rem 0;
    width: 90%;
    height: 50px;
    cursor: pointer;
    position: relative;
  }

  .burger-menu-section .nav-links ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 50px;
    width: 90%;
    font-size: 1.1rem;
    border: 1px solid #ea3057;
    z-index: 1;
  }

  .burger-menu-section .nav-links ul li a::before {
    content: "";
    display: block;
    position: absolute;
    border: none;
    left: 5%;
    height: 50px;
    width: 0;
  }

  .burger-menu-section .nav-links ul li a:hover::before {
    content: "";
    display: block;
    height: 50px;
    width: 90%;
    transition: ease 0.25s;
    border: none;
    background-color: #ea3057;
    z-index: -1;
  }

  .burger-menu-section .nav-links ul li a::after,
  .burger-menu-section .nav-links ul li a:hover::after {
    border: none;
  }

  .burger-menu-section .nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
    padding-left: 0;
  }

  .burger-menu-section .nav-buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 0;
    padding-left: 0;
  }

  .burger-menu-section .nav-buttons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0.5rem 0;
    width: 90%;
    height: 50px;
    cursor: pointer;
    position: relative;
  }

  .burger-menu-section .nav-buttons ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 50px;
    width: 90%;
    font-size: 1.1rem;
    border: 1px solid #ea3057;
  }

  .burger-menu-section .nav-buttons ul li a:hover {
    color: #fff;
  }

  .nav-links ul li a::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }

  .nav-links ul li a::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }

  .nav-buttons ul li a::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }

  .nav-buttons ul li a::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }

  .col-lg-2 {
    display: none;
  }

  /* ----- About Page Styling ----- */

  .hobbie-heading {
    margin-top: 2rem;
  }

  .coding img {
    padding-top: 0;
  }

  .coding h6 {
    padding-top: 0.4rem;
  }

  .about-content {
    margin-top: 2.5rem;
    padding: 0 1.5rem;
  }

  .offer-heading {
    margin-top: 2.5rem;
  }

  .offer-card {
    height: 100px;
    width: 135px;
    margin: 0 0.25rem;
  }

  .uxi img {
    height: 30px !important;
  }

  .responsive img {
    height: 40px !important;
  }

  .responsive h6 {
    padding-top: 0.5rem !important;
  }

  .offer-card img {
    height: 35px;
  }

  .offer-card h6 {
    font-size: 0.6rem;
  }

  /* ----- Skills Page Styling ----- */

  .icon-container {
    margin-top: 1.5rem;
    gap: 0.25rem;
  }

  .icon {
    width: 25%;
  }

  .icon-icon {
    height: 100px;
    font-size: 2.5rem;
  }

  .icon-django,
  .icon-responsive {
    height: 100px;
    font-size: 3rem;
  }

  .icon-responsive img {
    width: 60px;
  }

  .icon-text {
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
  }

  .icon-responsive {
    font-size: 0.5rem;
  }

  .skills-text ul {
    font-size: 0.9rem;
  }

  /* ----- Portfolio Page ----- */

  .project-card-1 {
    flex: 350px;
    max-width: 350px;
    flex-direction: column;
    transform: translateX(75px);
  }

  .project-card-2 {
    flex: 350px;
    max-width: 350px;
    flex-direction: column;
    transform: translateX(-75px);
  }

  .project-image-1,
  .project-image-2 {
    width: 350px;
    height: 350px;
  }

  .project-image-1 img,
  .project-image-2 img {
    width: 350px;
    height: 350px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .project-info-1,
  .project-info-2 {
    width: 350px;
    height: 350px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .project-info-1 h3,
  .project-info-2 h3 {
    font-size: 1.5rem;
  }

  .project-info-1 h6,
  .project-info-2 h6 {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .info-icons div i {
    font-size: 1.5rem;
  }

  .info-buttons {
    margin-top: 0;
  }

  .info-buttons a {
    width: 125px;
  }

  /* ----- Contact Page ----- */

  .contact-info div p {
    font-size: 0.9rem;
  }

  .contact-form {
    width: 550px;
  }

  .contact-form form input {
    width: 500px;
  }

  .contact-form form textarea {
    width: 540px;
  }

  .contact-form-button {
    width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .burger-menu {
    height: 775px;
  }

  #home {
    height: 1000px;
  }

  .home-section {
    height: 650px;
  }

  .home-info h1,
  .home-info h3 {
    font-size: 1.5rem;
  }

  .arrow h6 {
    font-size: 0.9rem;
  }

  .arrow i {
    color: #fff;
    border: 2px solid #ea3057;
    border-radius: 50%;
    padding: 0.35rem 0.5rem;
    margin-top: 1.5rem;
  }

  .animate-text-box {
    height: 50px;
    width: 300px;
    background-color: #ea3057;
    margin: 0.5rem 0;
    overflow: hidden;
  }

  .animate-text {
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 50px;
  }

  .animate-text:first-child {
    animation: animate 24s infinite;
  }

  @keyframes animate {
    0% {
      margin-top: -5px;
    }
    10% {
      margin-top: -52.5px;
    }
    20% {
      margin-top: -102.5px;
    }
    30% {
      margin-top: -152.5px;
    }
    40% {
      margin-top: -202.5px;
    }
    50% {
      margin-top: -202.5px;
    }
    60% {
      margin-top: -202.5px;
    }
    70% {
      margin-top: -155px;
    }
    80% {
      margin-top: -105px;
    }
    90% {
      margin-top: -55px;
    }
    100% {
      margin-top: -5px;
    }
  }

  /* ----- About Page Styling ----- */

  .offer {
    flex-direction: column;
    margin-top: 0;
  }

  .offer-card {
    height: 100px;
    width: 275px;
    margin: 0.5rem 0;
  }

  .uxi img {
    height: 50px !important;
    padding-top: 0.5rem;
  }

  .responsive img {
    height: 70px !important;
    padding-top: 0.25rem;
  }

  .responsive h6 {
    padding-top: 0.5rem !important;
  }

  .offer-card img {
    height: 55px;
    padding-top: 0.5rem;
  }

  .offer-card h6 {
    font-size: 1rem;
  }

  /* ----- Skills Page Styling ----- */

  .icon-container {
    margin-top: 1.5rem;
    gap: 0;
  }

  .icon {
    width: 25%;
  }

  .icon-icon {
    height: 50px;
    font-size: 1.5rem;
  }

  .icon-django,
  .icon-responsive {
    height: 50px;
    font-size: 2rem;
  }

  .icon img {
    width: 25px;
  }

  .icon-responsive img {
    padding-top: 0;
    width: 35px;
  }

  .icon-text {
    padding-bottom: 0.5rem;
    font-size: 0.5rem;
  }

  .icon-responsive {
    font-size: 0.5rem;
  }

  .skills-text {
    width: 95%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .skills-text h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }

  .skills-text ul {
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }

  .skills-text ul li {
    padding: 0.25rem 0;
  }

  /* ----- Portfolio Page ----- */

  .project-card-1 {
    flex: 300px;
    max-width: 300px;
    transform: translateX(0);
  }

  .project-card-1:hover,
  .project-card-2:hover {
    box-shadow: 3px 3px 4px #ea3057;
  }

  .project-card-2 {
    flex: 300px;
    max-width: 300px;
    transform: translateX(0);
  }

  .project-image-1,
  .project-image-2 {
    width: 300px;
    height: 300px;
  }

  .project-image-1 img {
    width: 300px;
    height: 300px;
  }

  .project-image-2 img {
    width: 300px;
    height: 300px;
  }

  .project-info-1 {
    width: 300px;
    height: 300px;
  }

  .project-info-2 {
    width: 300px;
    height: 300px;
  }

  /* ----- Contact Page Styling ----- */

  .contact-heading {
    margin-bottom: 2rem;
  }

  .contact-heading h6 {
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
  }

  .contact-info-box {
    margin-top: 0;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-top: 0;
  }

  .contact-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 125px;
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    border-right: none;
    border-bottom: 2px solid #ea3057;
  }

  .contact-info div:first-of-type {
    border-top: 2px solid #ea3057;
  }

  .contact-info div:last-of-type {
    border-bottom: 2px solid #ea3057;
  }

  .contact-form-box {
    height: 550px;
    margin-top: 0;
  }

  .contact-form-box h4 {
    margin-top: 1.5rem;
  }

  .contact-form {
    width: 300px;
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-form form input {
    width: 250px;
    margin-bottom: 1.5rem;
  }

  .contact-form form textarea {
    width: 290px;
    height: 100px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .contact-form form textarea::placeholder {
    font-size: 0.9rem;
  }

  .contact-form-button {
    width: 290px;
  }

  .contact-form-button button {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 360px) {
  .about-content {
    padding: 1rem;
    margin-top: 1.5rem;
  }

  .about-content-buttons {
    flex-direction: column;
  }

  .about-content-buttons a {
    width: 275px;
    margin: 0.5rem;
  }

  .skills-text h3 {
    font-size: 1rem;
    padding-bottom: 0.75rem;
  }
}
